@font-face {
    font-family: 'Minecraft';
    src: url(../assets/minecraftfont.woff);
}


a {
 color: #ffffff;
 font-family: inherit;
 text-decoration: none;
 font-size: 2.5rem;
 mix-blend-mode: difference;
}

body{
    width:100%;
    height:100%;
    margin:0;
    overflow: hidden;
    font-family: 'Minecraft';
}

#clickLoader{
    position: absolute;
    visibility: none;
    display:none;
    left: 50%;
    top: 50%;
    color: #ffffff;
    text-size: 40px;
    mix-blend-mode: difference;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

#all-the-stuff{
    width: 100%;
    height: 100%;
}
  
#destroyed{
    color: #ffffff;
    font-family: 'Marker Felt' fantacy;
    font-size: 10vw;
    bottom: 10%;
}

#github{
	position: absolute;
	bottom: -4%;
	border: none;
}

#INVISIBLE{
	position: absolute;
	left:-100%;
	top:-100%;
	visibility: hidden;
}

#moblie-only-text{
    color: #3d3d3d;
    font-family: inherit;
    text-decoration: none;
    font-size: 1.5rem;
}

#mobile{
    margin: auto;
    visibility: hidden;
    width: 50%;
    height: auto;
    background: #c9c9c986;
    z-index: 10000000000;
    border: 0px;
}

#vid{
    position: absolute;
    bottom: 40%;
    left: 45%;
}

#main{
    width: 100%;
    height: 100%;
}

#secretCheckbox{
    position:absolute;
    bottom: 0;
    right: 0;
}

#christmasStuff{
    visibility: hidden;
    position: absolute;
    width: 100%;
    z-index: -999999;
    height: 100%;
}

#wreath{
    display:block;
    margin: 0 auto;
    width: 520px;
    height: 473px;
}

#bellLeft{
    left: -60px;
    top: 0;
    transform: rotate(-30deg);
}

#bellRight{
    right: -60px;
    top: 0;
    transform: rotate(30deg);
}

.bells{
    position: absolute;
    width: 427px;
    height: 224px;
}

.skipNav{
    position: absolute;
    background: #039CC6;
    text-decoration: none;
    color:white;
    padding: .5rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border: none;
    transform: translate(-120%);
    transition: transform 325ms ease-in;
}

.skipNav:focus{
    transform: translate(0%);
}

.secretText {
    position: absolute;
    background: #039CC6;
    text-decoration: none;
    bottom: 69%;
    left: 69%;
    color: white;
    padding: .5rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border: none;
    opacity: 0;
    transition: opacity 325ms ease-in;
}

.secretText:focus{
    opacity: 100;
}

