a {
 color: #ffffff;
 font-family: 'Marker Felt' fantacy;
 text-decoration: none;
 font-size: 3rem;
 mix-blend-mode: difference;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#clickLoader{
    position: absolute;
    visibility: none;
    display:none;
    left: 50%;
    top: 50%;
    color: #ffffff;
    mix-blend-mode: difference;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
#destroyed{
    color: #ffffff;
    font-family: 'Marker Felt' fantacy;
    font-size: 10vw;
    bottom: 10%;
}

#if-script{
	position: none;
	visibility: hidden;
}

#INVISIBLE{
	position: none;
	visibility: hidden;
}

#moblie-only-text{
    color: #3d3d3d;
    font-family: 'Brush Script MT' Cursive;
    text-decoration: none;
    font-size: 1.5rem;
}

#mobile{
    margin: auto;
    visibility: hidden;
    width: 50%;
    height: 50%;
    background: #c9c9c986;
    border: 0px;
}

#vid{
    position: absolute;
    bottom: 40%;
    left: 45%;
}

#main{
    width: 100%;
    height: 100%;
}

#secretCheckbox{
    position:absolute;
    bottom: 0;
    right: 0;
}

.skipNav{
    position: absolute;
    background: #039CC6;
    text-decoration: none;
    color:white;
    padding: .5rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border: none;
    transform: translate(-120%);
    transition: transform 325ms ease-in;
}

.skipNav:focus{
    transform: translate(0%);
}

.secretText {
    position: absolute;
    background: #039CC6;
    text-decoration: none;
    bottom: 69%;
    left: 69%;
    color: white;
    padding: .5rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border: none;
    opacity: 0;
    transition: opacity 325ms ease-in;
}

.secretText:focus{
    opacity: 100;
}
