a {
 color: #ffffff;
 font-family: 'Brush Script MT' Cursive;
 text-decoration: none;
 font-size: 3rem;
 mix-blend-mode: difference;
}

INVISABLE{
	position: none;
	visiblity: hidden;
}

#moblie-only-text{
    color: #3d3d3d;
    font-family: 'Brush Script MT' Cursive;
    text-decoration: none;
    font-size: 1.5rem;
}

#mobile{
    margin: auto;
    visibility: hidden;
    width: 50%;
    height: 50%;
    background: #c9c9c986;
    border: 0px;
}

#vid{
    position: absolute;
    bottom: 40%;
    left: 45%;
}

#main{
    width: 100%;
    height: 100%;
}
#secret{
    position:absolute;
    bottom: 0;
    right: 0;
}

.skip-nav{
    position: absolute;
    background: #039CC6;
    text-decoration: none;
    color:white;
    padding: .5rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border: none;
    transform: translate(-120%);
    transition: transform 325ms ease-in;
}

.skip-nav:focus{
    transform: translate(0%);
}

.🍪🍪🍪🍪🍪 {
    position: absolute;
    background: #039CC6;
    text-decoration: none;
    bottom: 69%;
    left: 69%;
    color: white;
    padding: .5rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border: none;
    opacity: 0;
    transition: opacity 325ms ease-in;
}

.🍪🍪🍪🍪🍪:focus{
    opacity: 100;
}
