.vid {
  visibility: Hidden;
  display: none;
}
.main-text {
  visibility: Hidden;
  display: none;
}
.secret {
  visibility: Hidden;
  display: none;
}
.🍪🍪🍪🍪🍪 {
  visibility: Hidden;
  display: none;
}
