#vid {
  visibility: hidden;
  display: none;
}
#main-text {
  visibility: hidden;
  display: none;
}
#secret {
  visibility: hidden;
  display: none;
}
#🍪🍪🍪🍪🍪 {
  visibility: hidden;
  display: none;
}
